* {
    padding: 0;
    border: none;
    margin: 0;
    list-style: none;
}


/* slider */

a:hover {
    text-decoration: none;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


/* header */

div.logo a {
    font-size: 1.75rem;
    color: #8DCD4B !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #efefef;
    font-size: 26px;
    font-weight: bold;
    transform: scale(1.2) !important;
    display: inline-block;
    cursor: pointer;
}

header {
    width: 100%;
    height: 94px;
    background: #33ABE5;
    box-shadow: 3px -3px 8px 6px #948e8eab;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav div {
    display: flex;
    padding: 13px 54px;
}

.page-member {
    display: flex;
}

.page-member li a {
    border-radius: 12px;
    background: #00BAFF;
    color: white;
    padding: 5px 20px;
    margin-left: 31px;
    line-height: 59px;
}

.phone {
    color: white;
}

.phone i {
    padding-right: 15px;
    padding-top: 7px;
}

.phone span {
    line-height: 30px;
}

.user-login {
    color: white;
    position: relative;
}

.user-login i {
    padding-right: 17px;
    padding-top: 5px;
    font-size: 24px;
}

.user-login span {
    line-height: 36px;
    position: relative;
}

.box-full {
    padding: 50px;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); */
    /* border-radius: 5px; */
    border: 1px solid #8080806b;
}

.full-bgr {
    background: #EBEBEB;
}

.box {
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 37px 24px;
    margin-bottom: 33px;
}

h2.slogan {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    color: #33abe5;
    margin-bottom: 30px;
}

h2.slogan p {
    font-size: 18px;
    color: black;
    text-align: center;
    margin: 10px;
}

.cate-ava img {
    width: 56px;
    display: block;
    margin: auto;
}

.title h3 {
    font-size: 20px;
    margin: 10px auto;
}

.title {
    text-align: center;
}

p.excerpt {
    font-size: 15px;
    font-weight: 400;
}

.go-learn a {
    color: #fff;
    background-color: #33abe5;
    text-transform: uppercase;
    padding: 8px 23px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 13px;
}

.go-learn {
    display: inline;
}

.one-cate {
    text-align: center;
    margin-bottom: 48px;
}

.toeic {
    text-align: center;
    margin: auto;
    margin-top: 58px;
    padding-top: 20px;
    position: relative;
    margin-bottom: 32px;
}

.toeic:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 509px;
    height: 1px;
    background: #8080803d;
    transform: translateX(-50%);
    top: -2px;
}

.toeic h3 {
    color: #33abe5;
    font-weight: 400;
}

.toeic p {
    font-size: 19px;
}

.toeic a {
    color: #fff;
    background-color: #87c52e;
    text-transform: uppercase;
    padding: 8px 23px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
}

div.container:first-child h2 {
    /* padding: 30px 0 20px; */
    font-size: 30px;
    color: #777777;
    text-align: center;
    line-height: 60px;
}

.user-head {
    height: 102px;
    background: #EE4839;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 0 0 0;
}

.user-info {
    position: relative;
}

.user-avatar img {
    width: 70px;
    border: 4px solid #fff;
    border-radius: 50%;
}

.user-avatar {
    position: absolute;
    top: 13px;
    left: 20px;
}

h3.user-name {
    position: absolute;
    top: 21px;
    left: 113px;
    color: white;
    font-size: 21px;
}

img.user-level {
    width: 23px;
    position: absolute;
    bottom: 24px;
    left: 115px;
}

.score-of-week {
    width: 147px;
    height: 80px;
    background: #EBEBEB;
    border-radius: 5px;
    margin: 0 8px 8px 0;
    text-align: center;
    padding-top: 9px;
}

.user-deltail-socre {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.user-deltail-socre>div:nth-child(even) {
    margin-right: 0;
}

p.score-title {
    font-weight: 600;
    margin: 0;
}

p.score {
    font-size: 30px;
    font-weight: 500;
    color: gray;
}

p.score-rank {
    font-size: 30px;
    font-weight: 500;
    color: #33abe5;
}

.chart-img img {
    width: 60px;
}

.chart {
    position: relative;
}

.chart-head {
    position: absolute;
    top: 0;
    height: 140px;
}

.chart-img {
    position: absolute;
    top: -5px;
    left: -7px;
}

.chart-title {
    position: absolute;
    width: 215px;
    left: 72px;
    top: 10px;
}

.chart-title h2 {
    font-size: 24px;
}

.chart-list {
    margin-top: 79px;
}

.chart-title img {
    position: absolute;
    top: 27px;
    right: -16px;
}

.chart-button:after {
    content: "";
    width: 116%;
    height: 1px;
    position: absolute;
    background: #8080804f;
    top: 45px;
    left: -24px;
}

.chart-button {
    position: relative;
}

ul.chart-week {
    margin-top: 51px;
    padding-top: 40px;
}

.chart-button button {
    width: 153px;
    height: 46px;
    background: #fff;
    border-top: 1px solid #8080804f;
    border-left: 1px solid #8080804f;
    border-right: 1px solid #8080804f;
    position: absolute;
    z-index: 9999;
    box-shadow: 2px -1px 1px #8080801f;
}

.user-info-rank {
    margin-top: 46px;
}

img.avartar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

img.medal {
    width: 17px;
    position: absolute;
    right: 74px;
}

li.one-user {
    display: flex;
    align-items: center;
}

.rank-number {
    border-radius: 50%;
    background: #404040;
    width: 24px;
    height: 24px;
    padding: 0px 8px;
    color: white;
    font-size: 14px;
}

.chart-score {
    font-weight: 500;
    font-size: 17px;
    /* margin: 38px; */
    position: absolute;
    right: 40px;
}

ul.chart-week li:nth-child(1) .rank-number {
    background: #ff6045;
    ;
}

ul.chart-week li:nth-child(2) .rank-number {
    background: #a4d361;
}

ul.chart-week li:nth-child(3) .rank-number {
    background-color: #33abe5;
}

.card-learn h4 {
    text-align: center;
    font-size: 15px;
    padding: 0px 30px;
}

.card-learn {
    width: 220px;
    margin: auto;
    margin-top: 40px;
}

.go-learn {
    width: 180px !important;
}

.go-learn a {
    width: 210px;
    display: inline-block;
}

.learn-today.box>h3 {
    font-size: 25px;
    color: #333333;
}

.learn-today {
    /*background-image: url(../../uploads/image/icon_de_xuat_ngu_phap.png);*/
    background-repeat: no-repeat;
    background-position-y: 51px;
    background-position-x: 93%;
}

div.blog-learn {
    display: flex;
    margin-bottom: 20px;
}


/* blog */

.card.card-box {
    width: 490px;
}

.box-title {
    font-size: 16px;
    color: #333333;
}

.box-text {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.post img {
    width: 150px;
    border: 1px solid black;
    border-radius: 6px;
}

.post {
    display: flex;
    margin-bottom: 20px;
}

h4.title-post {
    font-size: 16px;
    color: #333333;
    padding: 20px 22px;
}

.post-box {
    padding-left: 12px;
    position: relative;
}

.post-box:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #e1e0e070;
    top: 0px;
    left: -23px;
}


/* social */

h2.learing-title {
    color: black !important;
    font-size: 25px !important;
}

.social h4 {
    font-size: 18px;
    color: #333333;
}

.social {
    padding-bottom: 1px;
}


/* footer */

footer {
    background-color: #404040;
    padding: 40px 200px;
}

footer .link-title {
    margin-bottom: 10px;
    color: #33abe5;
    font-weight: bold;
    font-size: 18px;
}

footer .links li a {
    font-size: 14px;
    text-decoration: none;
    color: #dfdfdf;
}

footer .intro-text {
    font-size: 14px;
    color: #87c52e;
}

footer .share-block li {
    float: left;
    margin-right: 13px;
}

img.avartar {
    border: 2px solid #ff7804;
}

ul.user-info {
    position: absolute;
    background: white;
    top: 50px;
    width: 158px;
    box-shadow: 1px 1px 1px gray;
    padding: 12px;
    display: none;
    z-index: 99999;
}

.user-login span:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #fff;
    position: absolute;
    top: 16px;
    right: -24px;
    cursor: pointer;
}

.head-learning img {
    width: 95px;
    height: 100px;
    margin-bottom: 14px;
}

.head-learning h2 {
    font-size: 25px;
    color: black !important;
}

.head-learning {
    text-align: center;
    padding-top: 45px;
    padding: 26px;
}

.thumbnail-bot {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.thumbnail-bot h2 {
    font-size: 45px !important;
    margin-left: 2rem;
    color: #87c52e !important;
    text-transform: uppercase;
}

.border-solid {
    background: #33abe5;
    height: 64px;
    margin-top: 24px;
    color: white;
    font-size: 26px;
    padding: 10px;
}

.bot-learning h4 {
    color: #87c52e;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.all-topic {
    width: 70%;
    margin: auto;
    color: #33abe5;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 28px;
}

.all-topic ul {
    display: flex;
    flex-wrap: wrap;
}

.all-topic ul li {
    width: 33%;
    padding: 20px 0;
}

.have-learned h2 {
    color: #87c52e !important;
    text-align: center;
    font-size: 30px !important;
    padding: 20px !important;
}

ul.learned-word-wrapper {
    display: flex;
}

.have-learned ul>li {
    width: 59%;
    padding: 10px 0;
    font-size: 21px;
}

ul.learned-word-wrapper li h3 a {
    color: #000000b8;
    font-size: 24px;
}

ul.learned-word-wrapper img {
    cursor: pointer;
}

.have-learned ul {
    transform: translateX(50%);
    position: relative;
    left: -33%;
}

.main-content {
    background: #f1f1f1;
    padding: 40px 0;
}

.bgr-white {
    background: white;
    border-radius: 15px;
    padding: 0;
}

.have-learned {
    overflow: hidden;
}

.you-want {
    text-align: center;
}

.you-want h1 {
    font-size: 33px;
    padding: 45px 0 20px 0;
}

.not-learn img {
    width: 99px;
    height: 99px;
}

.topic-want {
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;
}

.topic-want a {
    display: block;
    font-size: 26px;
    margin-top: 20px;
}

.topic-want>div {
    width: 17%;
}

.all-topics img {
    height: auto;
}

.all-topics {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 50px;
}

.all-topics a {
    display: block;
    font-size: 26px;
}

.all-topics>div {
    width: 20%;
    margin: 20px 0;
}

h1#learn-slogan {
    padding-bottom: 55px;
}

.main-head {
    background: #33abe5;
    height: 66px;
}

.main-head ul {
    display: flex;
    justify-content: center;
    padding-top: 11px;
}

.main-head ul li {
    font-size: 26px;
    background: white;
    border-radius: 10px 10px 0px 0px;
    height: 55px;
    margin-left: 3px;
    padding: 0px 10px;
    line-height: 49px;
    cursor: pointer;
}

li.active-status {
    color: white !important;
    background: #87c52e !important;
}

.word-intro .word {
    text-transform: uppercase;
    color: #33abe5;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 2px;
    margin-bottom: 0;
    word-wrap: break-word;
}

.word-intro .pos {
    text-transform: lowercase;
    font-size: 18px;
    vertical-align: middle;
}

.word-intro .audio-icon.main-audio {
    display: inline-block;
    max-width: 40px;
}

.word-intro .audio-info-wrapper li {
    display: inline-block;
    padding: 0 3px;
    color: #33abe5;
}

.word-intro .meaning {
    max-width: 100%;
    margin: 20px 0;
    font-size: 40px;
    color: #33abe5;
}

.word-intro .meaning-image {
    position: absolute;
    top: 0;
    /* left: 32.5px; */
    max-height: 300px;
    max-width: 400px;
    min-width: inherit;
}

.word-intro .meaning-image-wrapper {
    position: relative;
    min-height: 300px;
}

.word-family-patterns .heading-wrapper {
    background: #33abe5;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.topic-content {
    display: flex;
    padding: 41px;
}

section.clearfix.word-family-patterns {
    padding-left: 71px;
}

.usage-patterns .heading {
    color: #fff;
}

.heading-wrapper .heading {
    margin: 0 10px;
    padding: 10px 0;
    font-size: 32px;
    display: inline-block;
    color: white;
}

.no-usage-pattern-wrapper p {
    margin-top: 20px;
}

ul#meaning-example-wrapper img {
    display: inline-block;
    max-width: 40px;
}

.main-head h2 {
    color: white !important;
}

.toeic-milestone .milestone-grammar .button-link.style-1 {
    display: inline-block;
    min-width: 70px;
    padding: 8px 12px;
    margin-top: 10px;
    font-size: 16px;
}

.inner img {
    width: 56px;
    margin-bottom: 10px;
}

.name a {
    font-size: 10px !important;
}

.name h3 {
    font-size: 15px;
    color: #0478d1;
    height: 55px;
}

.toeic-milestone .milestone-grammar .button-link.style-1 {
    display: inline-block;
    min-width: 70px;
    padding: 8px 12px;
    margin-top: 21px;
    font-size: 16px;
}

.toeic-milestone .milestone-grammar .button-link {
    display: block;
    color: #fff;
    background-color: #33abe5;
    text-transform: uppercase;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px;
    transition: background-color .3s linear;
    margin-bottom: 10px;
}

.inner {
    width: 150px;
    border: 1px solid #8080801f;
    text-align: center;
    padding: 23px 14px;
    box-shadow: -2px 3px 9px #80808014;
}

.milestone-grammar-wrapper.clearfix {
    display: flex;
    flex-wrap: wrap;
}

.milestone-grammar-wrapper.clearfix>h3 {
    width: 100%;
}

.texts-wrapper {
    font-size: 29px;
    line-height: 73px;
    margin-left: 30px;
}

button.submit-btn.oval-btn {
    display: block;
    margin-top: 1.071rem;
    padding: 1.071rem;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #33abe5;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
}

.recommended-articles.d-flex li {
    padding: 0 13px;
    height: 30px;
    line-height: 21px;
}

.recommended-articles.d-flex h4 {
    font-size: 18px;
}

input.hidden-text.error-text {
    border-bottom: 1px solid black;
    height: 27px;
    width: 80px;
}

.btn-play {
    cursor: pointer;
}

.btn-next-question {
    margin-left: 20px;
    padding: 5px 11px;
    background: #33abe5;
    color: white;
    border-radius: 14px;
    cursor: pointer;
    font-size: 20px;
}

input.hidden-text.error-text {
    text-align: center;
    outline: none;
}

.btn-play img {
    width: 50px;
    margin-top: 16px;
}

.milestone-grammar-wrapper.clearfix h3 {
    font-size: 20px;
    padding: 20px 0;
}

.block-milestone.milestone-grammar {
    margin-left: 20px;
}

.name h3 {
    font-size: 16px !important;
}

section#not-completed {
    padding-bottom: 60px;
}

h2.learing-title span {
    color: #33abe5;
}

.milestone-grammar-wrapper.clearfix h3 span {
    color: #33abe5;
    font-size: 17px;
    position: absolute;
    left: 90px;
    top: 21px;
}

.milestone-grammar-wrapper.clearfix h3 {
    position: relative;
}

.milestone-grammar-wrapper.clearfix>h3 {
    margin-left: 20px;
}

ul.route li:not(:first-child)::before {
    content: "»";
    display: inline-block;
    margin: 0px 10px;
}

ul.route {
    display: flex;
    justify-content: center;
    font-size: 17px;
    padding-top: 34px;
}

ul.route li a {
    color: #33abe5;
    font-size: 17px;
    font-weight: 600;
}

h1.title-post {
    color: #fa5b0f;
    text-align: center;
    font-size: 35px;
    margin-bottom: 54px;
}

.post-content {
    padding: 0 5rem 4rem;
}

.post-content h2 {
    color: #00baff !important;
    text-align: left !important;
}

.post-content>table {
    border: 1px solid gray;
}

.post-content>table,
td,
th {
    border: 1px solid gray;
    text-align: center;
}

li.head-learning h3 {
    font-size: 23px;
}

ul.text-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*padding-bottom: 50px;*/
    padding-top: 16px;
}

div#content-test h2 {
    padding-top: 27px;
}


/*1111*/

.status-label {
    top: 42px;
    right: 18px;
    width: 42px;
    height: 35px;
    display: block;
    background-color: #ed1e24;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    padding: 8px 0;
    position: absolute;
    font-weight: bold;
    font-family: monospace;
}

.toeic-item.toeic-item-1 {
    position: relative;
    overflow: visible;
    padding: 0;
    margin-bottom: 29px;
}

.image img {
    width: 50px;
}

.toeic-item.toeic-item-1 a.link-wrap {
    display: flex;
    background: white;
    height: 65px;
    width: 234px;
}

h3.item-title {
    font-size: 16px;
    color: black;
    margin-top: 13px;
    margin-left: 37px;
}

.image img {
    width: 42px;
    position: absolute;
    top: 9px;
    left: 11px;
}

.image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 1px;
    left: -24px;
}

nav.article-nav ul li:not(:first-child):before {
    content: "»";
    display: inline-block;
    margin: 0 10px;
}

.test-name {
    font-size: 42px;
    color: #09c;
    font-weight: 400;
    margin-bottom: 30px;
}

nav.article-nav ul {
    display: flex;
    justify-content: center;
}

nav.article-nav-contact ul {
    display: flex;
    justify-content: center;
}

.orange-color {
    color: #fa5b0f;
    font-size: 21px;
}

.form-contact {
    width: 700px;
    margin: auto;
    padding-bottom: 50px;
}

ul.text-center.contact-feature li {
    background: #FF9800;
    margin-left: 24px;
    width: 158px;
    height: 50px;
    line-height: 47px;
    border-radius: 0 0 10px 10px;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px 5px 0px #a7a2a28c;
    cursor: pointer;
}

li.contact-question {
    background: #8BC34A !important;
}

li.list-contact {
    background: #03A9F4 !important;
}

.about-avatar img {
    width: 170px;
    border-radius: 50%;
    height: 170px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.about-avatar {
    width: 176px;
    height: 176px;
    margin: auto;
    border-radius: 50%;
    background: white;
    position: relative;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.85);
}

ul.text-center.list-inline {
    display: flex;
    justify-content: center;
}

ul.text-center.list-inline li {
    padding-left: 31px;
    font-size: 22px;
    padding-top: 19px;
}

ul.text-center.list-inline li a {
    color: gray;
}

.user-login a {
    color: white;
    line-height: 32px;
}

.modal-content {
    width: 50%;
    margin: auto;
    border-radius: 18px;
    box-shadow: 1px 0px 2px 0px #80808045;
}

.form-login input {
    border-bottom: 1px solid #80808033;
    width: 254px;
    height: 49px;
    font-size: 19px;
}

#form-login-img {
    width: 183px;
    position: absolute;
    right: 84px;
    top: 46px;
}

div#myModal {
    display: none;
}

div#myModal {
    position: fixed;    
    top: 10%;
}

ul.user-info li a {
    color: black;
    margin-left: 5px;
}

span.label {
    font-weight: bold;
    font-size: 16px;
    margin-top: 1.5rem;
    display: inline-block;
    font-size: 18px;
}

.full-toeic-test {
    font-size: 18px;
}

.answer {
    margin: 15px 23px;
}

.one-anwer input,
label {
    cursor: pointer;
}

.my-contact table,
td,
th,
tr,
thead {
    border: 1px solid #dedede !important;
    font-size: 14px;
}

.my-contact {
    padding-bottom: 50px;
}

ul.score-report {
    list-style: none;
    border: 1px solid;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fdfcfc;
    border: 2px solid #9298b6;
}

li.personal-info {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

ul.score-report li {
    width: 33%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 40px;
}

li.personal-info {
    width: 40%;
    margin: 60px 0;
    text-align: center;
}

li.personal-info .name {
    font-size: 18px;
    font-weight: 700;
}

li.component-scores {
    border-left: 1.2px solid #333;
    border-right: 1.2px solid #333;
    width: 35%;
}

li.total-score {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.score-label {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #45407a;
    padding: 5px 10px;
    max-width: 130px;
    margin: 0 auto;
}

.score-value {
    width: 98px;
    height: 45px;
    margin: 20px auto;
    padding: 10px 5px;
    font-size: 24px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #666;
    text-align: center;
    line-height: 20px;
}

.toeic-para {
    border: 2px solid #d0d0d0;
    padding: 20px 20px;
}

.one-question span p {
    display: inline;
}

form input#btn-submit {
    cursor: pointer;
}

form input#btn-submit:hover {
    background: #03A9F4;
}